@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
header{
  width: 100%;
  z-index: 1;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 5px;
}
article, aside, canvas, details, figcaption, figure, footer, header,
 hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;

}
#footer {
  background-color: #cb202d;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #cb202d;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding: 25px 20px;

}
nav h1 a {
  color: #fff;
  font-size: 12pt;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;  
}
@media screen and (min-width:455px) {
  nav h1 a {
    font-size: 14pt;
    letter-spacing: 10px;
  }
}
#breadcrumb {
  list-style: none;
  padding: 0px;
  padding-left: 10px;
  background-color: #eee;
  margin: 0;
  max-width: 100%;
  height: 50px;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #cb202d;
  align-items: center;
  padding: 10px 0;  /* use it for multiline */
}
.filter-options h2 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0 20px;
}
@media screen and (min-width:455px) {
  .filter-options h2 {
    font-size: 1.5rem;
    line-height: 1;
  }
}
.filter-options select {
  background-color: #e7e7ef;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 12pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 100%;
}
.filter-options select option {
  padding: 20px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px;
  min-height: 380px;
  max-width: 470px;
  width: 80%;
  height: 100%;
}
@media only screen and (min-width:0px){
  #restaurants-list li {
    max-width: 100%;
  }
}
@media only screen and (min-width:714px){
  #restaurants-list li {
    max-width: 40%;
  }
}
@media only screen and (min-width:1032px){
  #restaurants-list li {
    max-width: 280px;
  }
}

#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.restaurant-text-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.restaurant-text-area h2 {
  font-size: 20px;
}
.restaurant-text-area button {
  align-self: flex-end;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

@media screen and (min-width: 455px) {
  .restaurant-text-area h2 {
    font-size: 25px;
  }

  #restaurants-list p {
    font-size: 13pt;
  }
}

#restaurants-list li button {
  background-color: #cb202d;
  border-radius: 5px;
  color: #e5f1ef;
  margin: 10px 0 5px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  /* display: inline-block; */
}
.filter-selects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media only screen and (min-width:800px){
  .filter-selects {
    flex-wrap: nowrap;
    width: 75%;
  }
}

.filter-label{
  display: none;
}

/* ====================== Restaurant Details ====================== */

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 250px;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-img-cuisine, #restaurant-address-hours{
  width: 48%;
  height: auto;
  margin-left: 10px;
}
#restaurant-name {
  color: #cb202d;
  font-family: Arial,sans-serif;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 10px;
  text-transform: uppercase;
  line-height: 1.1;
  width:100%;
}
#restaurant-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
}
#restaurant-address-and-hours {
  padding: 15px 20px;
}
#restaurant-address {
  font-size: 12pt;
  font-weight: 700;
}
.restaurant-info-label {
  display: none;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-and-reviews {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  #restaurant-container, #reviews-container {
    width: 100%;
  }
}

#reviews-container h2 {
  color: #cb202d;
  font-size: 15pt;
  font-weight: 300;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #ecdfdf;
  border: 2px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 10px;
  overflow: hidden;
  position: relative;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}

#reviews-list li .nameAndDate{
  background: #cb202d;
  display: flex;
  justify-content: space-evenly;
}
#reviews-list li .nameAndDate p{
  color: white;
}

#reviews-list li .nameAndDate .name{
  font-family: cursive;
  font-style: italic;
  letter-spacing: 4px;
}

#reviews-list li .ratingAndComments{
  padding-left: 10px;
}
#reviews-list li .rating {
  background: gold;
  color: white;
  display: inline;
  padding: 5px;
  letter-spacing: 2px;
  border-radius: 5px;
}
.restaurant-hours-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
#restaurant-hours {
  width: 100%;
  max-width: 500px;
}
#restaurant-hours tr td:first-of-type {
  width: 40%;
}
#restaurant-hours tr td:last-of-type {
  width: 60%;
}
#restaurant-hours td {
  color: #666;
}
.restaurant-review-user {
  font-weight: 700;
}
.map-aria-description {
  display: none;
}
